<a href="https://colab.research.google.com/github/JDevs-py/new_5DATA004W_DSPL_Individual_Coursework/blob/main/More_Dataset_testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Files were uploaded from local storage onto the session storage before being loaded

In [ ]:
import pandas as pd # Importing necessary library
df_region = pd.read_excel('/content/1b_Residence_by_Region_England.xlsx', index_col = 0) # Loading dataset and removing index
df_region_transposed = df_region.transpose() # Transposing dataset
df_region_transposed # Displaying transposed version

Year  North East  North West  East Midlands  London  South East  South West
2002       18075       19281          19513   25235       22880       19308
2003       18349       20031          20245   26201       23797       20120
2004       19311       20895          20935   27046       24700       21000
2005       20132       21923          21950   28177       25224       21667
2006       20431       22052          22187   28671       25924       22255
2007       21026       22833          22544   29841       26666       22951
2008       21872       23864          23724   31097       27876       23968
2009       22847       24011          24549   31941       28657       24523
2010       23184       24291          24453   32003       28822       24474
2011       23204       24166          24337   31852       29286       24791
2012       23769       24646          24995   32509       29461       25036
2013       24234       25309          25379   32750       29650       25630
2014       24805       25324          25420   32768       29869       26029
2015       25232       25711          25609   33109       30074       26496
2016       25660       26220          26554   33694       30741       26796
2017       26046       26660          26556   34725       31664       27533
2018       26505       27520          27606   35702       32251       28402
2019       27251       28511          28556   36851       33396       29282
2020       27906       29523          29417   38526       34193       30172
2021       27666       29570          29161   37635       33939       29534
2022       29816       30883          30946   39497       35734       31799
2023       31435       33127          32611   42083       37434       34140
2024       33343       35298          34862   44780       40339       36112

In [ ]:
df_region_transposed.to_csv('1b_median_residence_transposed.csv')
# Save the transposed residence by region as a csv file

In [ ]:
df_eastmid = pd.read_excel('/content/East_Midlands_Residence_Districts.xlsx', index_col = 0) # Load the East Midlands dataset
# for residence earnings
df_eastmid_transposed = df_eastmid.transpose() # Transpose dataset
df_eastmid_transposed # Display transposed version

Year,Derby,Leicester,Rutland,Nottingham,Amber Valley,Bolsover,Chesterfield,Derbyshire Dales,Erewash,High Peak
2002,20786,16186,19332,17611,19103,16327,18957,24000,19345,21926
2003,21453,17350,23227,17873,19766,17568,20076,22506,19378,21682
2004,22081,17720,21095,19142,20574,19632,20279,23784,21284,22081
2005,23769,18900,21586,20403,22899,19643,22231,25453,21692,22771
2006,23350,19130,21998,21025,22450,20969,22105,23812,22048,23395
2007,21372,20232,23975,21793,21961,23017,21893,25822,22968,22424
2008,24793,20091,24977,20419,24291,21816,23413,28512,24048,24412
2009,26529,20845,26339,22681,23965,23654,23309,29333,25457,26110
2010,26413,20932,25061,22098,24685,23548,23879,29491,23813,25850
2011,26274,21323,25925,23000,24719,21716,24226,28501,24368,25949
2012,27211,20777,24336,22645,25259,25786,23890,28035,26100,26210
2013,26481,21785,24793,22308,25349,23216,24340,28369,27475,26713
2014,27442,22135,25416,22016,25660,23757,24163,28688,26283,26728
2015,28279,21417,28591,22580,26694,22512,25731,26804,26232,25497
2016,28376,21996,27953,23360,27832,24659,25775,31058,26940,25429
2017,28633,21830,28814,23493,30031,23587,25843,31356,26863,28654
2018,31954,22189,27880,23293,29696,24912,26008,30906,27622,28246
2019,30365,23748,30175,25078,29602,25781,26551,31887,29222,27581
2020,31465,24711,32489,25216,33614,27576,27590,35011,29529,29357
2021,30715,25266,32620,25050,31389,26409,26705,28284,29980,28680
2022,30742,27646,33254,27016,30538,27327,30621,33747,32171,29989
2023,33312,28547,36161,28495,32645,26174,29819,36796,33692,34009
2024,35063,29839,40227,29983,35771,31851,32234,39979,35331,34215

In [ ]:
df_median_eastmid_houseprice = pd.read_excel('/content/East_Midlands_Median_house_price_District.xlsx', index_col = 0) # Loading the east midlands data
# for median house price
df_median_eastmid_houseprice_transposed = df_median_eastmid_houseprice.transpose() # Transposes the dataset
df_median_eastmid_houseprice_transposed # Displays the dataset

Year,Derby,Leicester,Rutland,Nottingham,Amber Valley,Bolsover,Chesterfield,Derbyshire Dales,Erewash,High Peak
2002,62950,64500,125750,59950,66000,41350,56000,118000,67500,82500
2003,79000,83000,154950,79950,84000,59950,70000,140000,84950,100000
2004,100500,105000,179950,93000,103000,78775,93000,174000,105000,127500
2005,115000,115000,195000,99000,115950,91000,106975,196750,115000,135000
2006,119995,118000,205500,105000,123000,97000,117000,198000,118500,142500
2007,125000,124900,210000,106000,130000,106995,124950,220150,124995,155000
2008,125000,125000,225000,103000,135000,110000,125000,202000,123500,154950
2009,120000,118000,202500,98000,125000,97000,115000,185000,116482,146000
2010,124500,120000,220000,100000,131000,102000,122500,215000,118000,145000
2011,119000,120000,209250,95000,126000,92500,118000,205000,117000,143000
2012,121000,119975,211350,96000,125000,93500,117000,200000,118000,150000
2013,125000,121000,217000,95500,127750,92500,122000,210000,120000,148000
2014,130000,125000,225000,105000,131000,102000,125000,217500,125000,150000
2015,135000,129500,228350,110000,143500,103500,126625,221000,133000,155000
2016,139000,139000,242500,118500,145000,111000,135000,225000,139950,165000
2017,144725,148000,266000,127500,152000,119995,140000,236750,145000,172500
2018,150000,161000,270000,132000,160000,125000,148000,244000,152500,178000
2019,159000,173000,264250,136000,167000,124000,147000,260000,157500,185000
2020,165000,180000,310000,145000,170000,125000,155000,255000,167500,190000
2021,180000,210000,322250,165000,206000,152000,175000,287750,185000,220000
2022,188000,221000,305000,175000,197000,160000,174025,315000,200000,230000
2023,195000,230000,338750,186700,215000,164000,183000,335000,210000,247500
2024,202500,235000,355000,190000,213250,160000,180000,310000,205000,250000

In [ ]:
df_median_eastmid_houseprice_transposed.to_csv('5a_eastmid_median_houseprice_transposed.csv')
df_eastmid_transposed.to_csv('5b_eastmid_median_residence_transposed.csv')
# Save the transposed East midlands datasets as csv files

In [ ]:
df_ldn = pd.read_excel('/content/London_Residence_Districts.xlsx', index_col = 0) # Load the London dataset and remove index
# for residence earnings
df_ldn_transposed = df_ldn.transpose() # Transpose it
df_ldn_transposed # Display the dataset

Year,Barking and Dagenham,Barnet,Bexley,Hounslow,Islington,Kensington and Chelsea,Newham,Redbridge,Richmond upon Thames,Westminster
2002,22854,26415,23757,23994,26968,36519,20543,25560,33732,28162
2003,21878,26513,25298,24379,28166,36681,21705,26705,33342,28478
2004,21690,28787,26333,24287,28838,44815,22360,25990,34508,32255
2005,22794,29567,27024,26179,29997,42357,24101,27751,35086,32738
2006,25197,29061,28001,25600,31996,44695,24455,29656,34867,33272
2007,25519,29512,28911,26453,32589,41011,24227,31366,37565,34979
2008,25620,31440,30859,27714,32740,43583,25521,32878,39603,38656
2009,28624,33041,31018,28121,34026,48582,26154,32803,38126,37309
2010,26498,32674,31262,29053,33971,46143,26998,33808,39133,45933
2011,25915,32490,32041,29236,36241,47492,26489,32202,41136,41815
2012,26976,32331,32332,30000,38075,41047,26679,32719,41051,42938
2013,28403,32964,32930,30037,35446,45497,28261,32311,38925,39064
2014,27173,32138,32362,30099,36833,45493,25869,33087,39884,40731
2015,28511,33072,31987,29323,35442,40249,27144,35747,39534,42833
2016,28012,33459,34109,30901,36635,38350,27773,33742,42068,41729
2017,30200,37340,33453,31792,37972,44601,29107,33201,40818,43105
2018,29313,35645,34857,32162,45000,43370,30871,33632,42338,44712
2019,29363,36292,36932,34682,43715,47027,31807,35534,43069,43990
2020,32852,36411,39912,34804,46706,47826,32909,36573,49574,44544
2021,32668,35719,37074,32548,43236,50457,34920,36986,43570,42062
2022,33457,37628,41568,36905,42583,41707,34808,38618,45473,45091
2023,34721,41817,42614,38444,45688,52000,38463,40845,47609,50958
2024,38044,44962,44615,39532,49186,52622,38802,43241,56048,51034

In [ ]:
df_median_ldn_houseprice = pd.read_excel('/content/London_Median_house_price_District.xlsx', index_col = 0) # Load the London dataset
# for median houseprice
df_median_ldn_houseprice_transposed = df_median_ldn_houseprice.transpose() # Transpose the dataset
df_median_ldn_houseprice_transposed # Display the dataset

Year,Barking and Dagenham,Barnet,Bexley,Hounslow,Islington,Kensington and Chelsea,Newham,Redbridge,Richmond upon Thames,Westminster
2002,106000,195000,130000,165000,231000,386000,129000,157995,244950,300000
2003,136000,225000,157000,186500,240000,385000,164125,189995,257000,315000
2004,155000,247500,172000,207000,246500,450000,181500,216000,285000,335000
2005,164000,250000,182000,220000,265000,450000,190000,227000,295000,357500
2006,165000,265000,190000,232000,289950,499946,201000,235000,320000,385000
2007,180000,290000,208000,248000,335000,635000,225000,250000,370000,450000
2008,191175,295000,215000,250000,350000,665000,230000,258000,390000,499950
2009,165000,289950,195000,240000,342000,675000,192750,240000,350000,495000
2010,165000,325000,209995,250000,365000,750000,210000,250000,402500,550000
2011,170000,330000,218000,250000,399950,782500,215000,250000,420000,600000
2012,170000,345000,215000,250000,420000,875000,218000,262500,427000,595000
2013,177500,360000,225000,275000,440000,960000,222000,270000,470000,720000
2014,205250,400000,249995,305000,525000,1150000,249999,295000,515750,795000
2015,235000,440000,280000,335000,580000,1190000,287500,339000,570000,840000
2016,276000,490000,323000,380000,577750,1125000,330000,385000,610000,870000
2017,300000,527650,340000,390000,607000,1300000,360000,420000,640000,957500
2018,307000,530000,351000,400000,585000,1300000,375000,430000,640000,920000
2019,314000,525000,352000,405000,576500,1250000,380000,432000,635000,896250
2020,320000,550000,365000,430000,630000,1250000,382000,435000,655000,920000
2021,335000,595000,392000,465000,622500,1225000,413202,490000,690000,865000
2022,365000,625000,415000,470000,655000,1430000,425000,490000,760000,984500
2023,380000,585000,425000,486000,660000,1297500,430500,500000,722000,935000
2024,362000,603500,420000,475000,648500,1200000,425000,500000,715000,910000

In [ ]:
df_median_ldn_houseprice_transposed.to_csv('5a_ldn_median_houseprice_transposed.csv')
df_ldn_transposed.to_csv('5b_ldn_median_residence_transposed.csv')
# Save the transposed London datasets as csv files

In [ ]:
df_northeast = pd.read_excel('/content/North_East_Residence_Districts.xlsx', index_col = 0) # Loads the north east data
# for the residence earnings
df_northeast_transposed = df_northeast.transpose() # transpose the dataset
df_northeast_transposed  # Displays transposed datasets

Year,Hartlepool,Middlesbrough,Redcar and Cleveland,Stockton-on-Tees,Darlington,Newcastle upon Tyne,North Tyneside,South Tyneside,Sunderland,Gateshead
2002,18535,16807,19781,19493,17265,19045,17389,18866,16779,17827
2003,18192,17345,17688,19866,17479,19610,17915,19880,17181,17405
2004,19536,17357,19929,22007,18564,20453,19670,18541,17940,18474
2005,20986,18418,21391,23066,18670,21010,20057,19318,19089,20054
2006,20797,19157,20324,22423,19183,21403,20255,20370,19626,18963
2007,21613,20006,22268,23569,22185,21109,20529,20557,20541,19986
2008,23392,21831,21017,24315,20933,22255,22030,21664,20783,20933
2009,25095,21264,23111,25072,21965,22562,23781,23479,21555,22158
2010,23663,21260,21529,24472,22944,22289,24061,23242,22350,23091
2011,24286,20572,23607,25240,23261,22030,24017,22760,22321,23000
2012,25757,22724,22154,24677,23206,23331,23887,23231,22642,24458
2013,24198,21708,24344,26595,22461,24287,24185,23792,23708,24594
2014,24957,22742,24976,26154,26231,25343,24480,23925,24165,25078
2015,26208,24565,25023,26607,25299,26425,25757,24471,24655,24974
2016,25970,24966,24403,27752,27514,26577,26092,23744,25171,25049
2017,25525,24141,25390,26538,27797,26691,27855,25301,24914,25802
2018,26929,25434,24973,26889,26445,26928,28726,24979,25649,25985
2019,26523,26044,25836,29477,27703,28024,29525,25930,25456,26504
2020,28653,26645,26675,29450,27039,29050,29523,26529,26626,26476
2021,27714,26337,24811,28434,30435,30297,29027,27445,24948,26996
2022,31479,28917,29269,30227,29146,30993,31783,29581,27514,29678
2023,31852,29048,30341,32693,30883,32624,32653,30063,29290,31769
2024,31584,32284,30595,34250,33141,34841,36807,33172,32723,32585

In [ ]:
df_northeast_median_houseprice = pd.read_excel('/content/North_East_Median_house_price_District.xlsx', index_col = 0) # Loads northeast data
# for median house price
df_northeast_median_houseprice_transposed = df_northeast_median_houseprice.transpose() # transpose the dataset
df_northeast_median_houseprice_transposed # display transposed version

Year,Hartlepool,Middlesbrough,Redcar and Cleveland,Stockton-on-Tees,Darlington,Newcastle upon Tyne,North Tyneside,South Tyneside,Sunderland,Gateshead
2002,43950,45500,51000,59000,55000,72000,59950,49500,50000,55000
2003,45000,45000,64495,75000,65000,89950,79950,60000,62000,67500
2004,50000,60000,82000,95000,89500,119500,104000,81000,82500,86500
2005,57500,70000,95000,105000,100000,120000,110000,93975,92000,95000
2006,82000,92375,110000,119950,109950,136000,120000,104000,101000,110000
2007,97500,102000,120000,128100,120000,143000,130000,112000,110000,115750
2008,102000,95000,117500,124950,119000,140000,126432,112000,108500,116000
2009,90000,102000,113750,122000,117500,129975,125000,104000,99950,115000
2010,100000,104950,117500,126500,123000,139000,137000,110000,105000,115000
2011,98000,93000,110000,122500,119000,132500,130000,101500,100000,112000
2012,95000,99000,112250,123500,118000,130000,130800,103500,100500,110000
2013,109000,102000,112000,125000,115000,131983,133000,110000,104000,117000
2014,103000,113750,120000,130000,120000,135000,138000,110000,105000,119950
2015,110000,110000,123000,132500,123000,145150,145000,117500,109250,124500
2016,110000,119975,123000,132000,127500,150000,149500,121750,111000,124000
2017,112500,112000,122000,131000,130600,150000,150000,121000,114995,127500
2018,110000,119998,125000,135000,129000,154250,155000,128000,117500,130000
2019,119000,117500,121000,136000,128750,153000,155000,127500,120000,134950
2020,125000,120000,127500,139475,135000,160000,160000,130000,122000,135000
2021,130000,130000,140000,150000,147000,172475,177500,145000,135000,145000
2022,125000,128500,140000,150000,140000,169950,175000,139975,130000,136600
2023,132000,135000,150000,161000,150000,177000,185000,145974,132500,150000
2024,130000,139975,157000,160000,150000,180000,185000,150000,136000,150000

In [ ]:
df_northeast_median_houseprice_transposed.to_csv('5a_northeast_median_houseprice_transposed.csv')
df_northeast_transposed.to_csv('5b_northeast_median_residence_transposed.csv')
# Save the North east datasets as csv files

Previous steps are repeated throughout the rest of the script

In [ ]:
df_northwest = pd.read_excel('/content/North_West_Residence_Districts.xlsx', index_col = 0)
df_northwest_transposed = df_northwest.transpose()
df_northwest_transposed

Year,Halton,Warrington,Blackburn with Darwen,Blackpool,Burnley,Chorley,Fylde,Hyndburn,Lancaster,Pendle
2002,18908,19787,18037,15669,18280,19974,22062,15937,20431,16528
2003,19032,21617,18626,17240,19450,20671,24216,16260,20804,17012
2004,20433,22157,20349,17121,18708,20273,24512,15940,21225,17221
2005,20011,23345,20867,18134,20748,22025,25558,17933,22103,18770
2006,19740,25794,21010,18261,21017,21887,23705,17564,22466,19747
2007,21946,24463,21752,19461,19683,22595,26370,17931,24721,19787
2008,22462,26778,20823,19003,22096,23518,28859,18810,25342,21812
2009,22140,26324,23097,19384,20758,24417,28205,20751,25231,21342
2010,22849,26506,22941,18597,21204,24154,29066,21659,25487,21703
2011,22781,26159,20974,19254,21484,24591,29654,22767,26165,22544
2012,23776,26617,21753,19294,22628,25723,27677,20726,24020,21866
2013,24998,25905,22091,19943,23725,23881,29351,21074,28672,22582
2014,25207,26203,23283,19695,22041,24745,30996,22040,27752,24630
2015,24974,28207,21519,21010,22473,25821,24926,22421,26374,24845
2016,25250,27856,22768,21429,24142,27486,26983,23549,27915,24132
2017,26143,28168,23183,23055,23659,27463,30498,25069,27612,25344
2018,27592,30776,23449,22943,24795,30169,31837,22627,26995,27289
2019,27690,30877,25121,24795,28050,31094,31545,24912,28193,27038
2020,30405,30245,24554,24526,25334,31157,33449,24850,29308,25559
2021,28810,31428,25907,22666,27115,33954,30518,26891,30971,23352
2022,31660,32524,27451,25052,28480,32682,31399,27200,30786,25768
2023,33490,34712,30731,27191,30774,32926,38871,29835,30606,27071
2024,36077,37387,29153,31364,31752,38868,38133,31940,33565,28945

In [ ]:
df_northwest_median_houseprice = pd.read_excel('/content/North_West_Median_house_price_District.xlsx', index_col = 0)
df_northwest_median_houseprice_transposed = df_northwest_median_houseprice.transpose()
df_northwest_median_houseprice_transposed

Year,Halton,Warrington,Blackburn with Darwen,Blackpool,Burnley,Chorley,Fylde,Hyndburn,Lancaster,Pendle
2002,56000,82500,39000,54000,29950,68000,82950,36000,59000,33000
2003,69000,98000,45000,67000,29950,84000,115000,37500,76000,36000
2004,85000,125000,60000,86950,36000,110064,140000,52000,97500,46000
2005,99000,134000,75000,100000,45000,125000,152500,66000,117000,58300
2006,110000,138000,85000,112000,61000,133000,165000,76000,121000,75000
2007,115000,147000,96000,117500,75000,137900,174950,90000,130000,89950
2008,116000,146000,100000,117000,80000,145000,169500,94000,135000,92000
2009,113000,138000,96500,102000,72500,132750,160000,82500,124950,82500
2010,120000,149995,97000,105000,74700,137488,170000,85000,131000,85000
2011,110000,145000,91500,98000,72000,132623,160000,85000,125000,84500
2012,109725,146000,95000,95000,74000,130000,155000,86000,125000,80000
2013,111125,146000,95000,94000,72000,135000,160000,86250,130000,82500
2014,118500,151500,93500,98500,77000,139725,164000,85000,133000,88000
2015,120000,159950,100000,100000,75000,150000,170748,88200,135000,90000
2016,125000,160225,102500,103000,81000,151750,177250,95000,142500,95000
2017,130000,172500,105000,110000,80000,157000,184500,96000,145000,97250
2018,130000,175000,110000,110000,85000,159000,180000,99000,150000,100000
2019,135000,184000,110000,111000,85000,160000,189475,97000,150000,103000
2020,143000,188000,115000,115000,92000,168500,195000,105000,158000,110000
2021,160000,222700,130000,125000,111000,190000,220000,115000,180000,127500
2022,160000,230000,128000,129000,115000,185000,215000,120725,179000,123000
2023,165000,245000,134000,132500,106500,200000,227000,122000,185000,132000
2024,172750,238000,136250,132000,111250,212000,220000,130000,194950,132500

In [ ]:
df_northwest_median_houseprice_transposed.to_csv('5a_northwest_median_houseprice_transposed.csv')
df_northwest_transposed.to_csv('5b_northwest_median_residence_transposed.csv')
# Save the north west dataset as a csv file

In [ ]:
df_southeast = pd.read_excel('/content/South_East_Residence_Districts.xlsx', index_col = 0)
df_southeast_transposed = df_southeast.transpose()
df_southeast_transposed

Year,Reading,Slough,Windsor and Maidenhead,Wokingham,Milton Keynes,Brighton and Hove,Portsmouth,Southampton,Isle of Wight,Buckinghamshire
2002,23639,20452,28769,29542,21029,22355,19681,19159,17457,26002
2003,25306,20135,31054,29264,22837,22081,21148,20324,20064,26001
2004,25672,22229,31528,28964,24222,23872,20349,21820,19262,27007
2005,25262,22719,33083,32112,23527,23539,21813,21895,21105,27058
2006,24747,23405,34686,33260,23966,24317,21788,22042,21604,27821
2007,27280,24577,33632,33379,25505,26032,21595,22182,22630,28556
2008,29350,25380,34918,35054,26140,27869,22271,22067,24557,30492
2009,30525,26605,35987,33753,26117,27765,25081,22527,23844,32226
2010,29601,26408,34779,35748,26643,27693,25448,23416,22297,31815
2011,28354,26780,37451,36456,28299,28019,24299,23743,23886,33045
2012,31539,27635,38927,36499,28134,28107,24781,24301,24954,32260
2013,32162,28134,37812,37035,29937,28146,24560,24681,24044,31446
2014,31559,27330,37977,35754,28915,29059,26269,24907,25830,31700
2015,29177,28384,37178,37486,27703,28293,26528,25731,25453,32343
2016,31237,28276,37818,38595,29118,30348,25861,26448,25278,32663
2017,32234,28651,38986,36867,31436,30250,26655,27430,26137,34616
2018,33270,31338,39046,40392,30162,30061,27402,26472,25489,35135
2019,32812,31990,40797,37898,32270,31988,28569,28665,26168,35340
2020,33032,32717,41320,38261,33256,33848,27197,29926,28498,36349
2021,36417,34399,38730,38927,33967,32710,29215,30929,27418,35302
2022,36378,35572,39931,43183,36049,34037,32343,33048,28912,38862
2023,36544,35549,41489,45832,36905,34723,32638,33157,29323,39505
2024,40988,38846,46155,45702,40125,38556,35060,34552,33596,43318

In [ ]:
df_southeast_median_houseprice = pd.read_excel('/content/South_East_Median_house_price_District.xlsx', index_col = 0)
df_southeast_median_houseprice_transposed = df_southeast_median_houseprice.transpose()
df_southeast_median_houseprice_transposed

Year,Reading,Slough,Windsor and Maidenhead,Wokingham,Milton Keynes,Brighton and Hove,Portsmouth,Southampton,Isle of Wight,Buckinghamshire
2002,136000,124000,210000,189950,105000,141000,95000,105000,100000,167000
2003,155000,144950,240000,214995,127000,163000,118000,126900,125000,193000
2004,160875,160000,249950,227000,145000,176000,131000,140000,146500,214000
2005,170000,171500,268500,240000,151500,190000,138000,147000,155000,225000
2006,177250,176000,275000,245000,158000,199950,140000,152500,167500,236000
2007,199000,189950,307500,272500,174000,230000,152000,162500,175000,249950
2008,202000,197500,320000,270000,175000,237500,155000,165000,180000,265000
2009,180000,175000,295000,249000,155000,210000,139725,147950,165000,248000
2010,192500,183000,320000,267500,168000,235000,150000,162500,175000,267500
2011,190000,190000,325000,275000,168000,240000,148000,161500,170000,272500
2012,195000,192750,322500,279950,174000,240000,150000,160000,172725,275000
2013,205000,202000,333000,282500,180000,248500,150000,159000,170000,277500
2014,222500,217500,365000,316950,190000,270000,162000,167975,177000,297500
2015,249950,247000,410000,350000,216000,292000,169475,175000,180000,323225
2016,283375,287000,455000,395500,236000,320000,183000,190000,190000,350000
2017,300000,318000,477500,407500,255000,345000,199000,205000,200000,380000
2018,302500,319850,465000,410000,260000,345000,210000,217000,203000,385000
2019,300000,326500,469000,400000,262000,356500,210000,216500,210000,387000
2020,300000,325000,495000,410000,270000,360000,218000,220000,220000,397500
2021,320000,350000,520000,445000,305000,405000,237000,233500,255000,435000
2022,330000,355000,525000,470000,308000,410000,250000,249950,252375,450000
2023,350000,380000,530000,485000,320000,421540,260000,252500,267400,450000
2024,340000,390000,512000,475000,315000,417500,254440,250000,255000,450000

In [ ]:
df_southeast_median_houseprice_transposed.to_csv('5a_southeast_median_houseprice_transposed.csv')
df_southeast_transposed.to_csv('5b_southeast_median_residence_transposed.csv')
# Save the South east dataset as a csv file

In [ ]:
df_southwest = pd.read_excel('/content/South_West_Residence_Districts.xlsx', index_col = 0)
df_southwest_transposed = df_southwest.transpose()
df_southwest_transposed

Year,Bath and North East Somerset,"Bristol, City of",North Somerset,South Gloucestershire,Plymouth,Torbay,Swindon,East Devon,Exeter,Mid Devon
2002,21601,19756,21329,20584,18365,15422,20418,17300,18191,18909
2003,22943,20538,22559,21992,19388,16642,21546,18214,17996,18891
2004,23118,21506,24353,23628,20087,17709,22504,20456,19809,20458
2005,22988,22064,25246,24007,20008,18706,22737,20358,20165,20947
2006,24754,22315,26040,24323,20852,19418,23417,21912,20257,20433
2007,24634,22899,26726,24711,20944,19310,25561,21815,20385,20119
2008,25651,23874,26832,25714,22939,20045,26604,21813,21430,20120
2009,24938,25147,27216,25816,23205,19449,26507,22566,22290,22286
2010,26248,25570,27695,25956,23624,19571,26677,22810,22755,21727
2011,25937,25235,28700,26709,23673,22055,26869,23097,23006,22095
2012,26864,25501,29037,27474,23998,21488,26912,22836,22089,23124
2013,29302,25910,29746,27344,24125,21923,26628,25132,23714,23609
2014,27953,26541,29893,28613,24493,22308,27268,24679,24151,23451
2015,28151,27305,29486,29031,25006,22380,28123,25586,24404,24598
2016,29888,27378,30086,29739,24970,22412,29248,27754,27275,25618
2017,29211,27924,30944,30238,26979,23878,28736,26849,26202,27353
2018,31902,29093,30246,30538,27685,24232,30018,27601,27965,27961
2019,32255,30395,31067,31636,25837,25912,30659,29364,29748,27537
2020,31098,32339,34638,31965,28165,27029,31912,29456,30897,26961
2021,30203,32257,29834,31518,25896,26392,30595,29302,30183,28457
2022,36351,34248,34314,33108,27249,29068,33591,32663,31749,29851
2023,38669,35858,36481,37152,31690,29380,35300,34129,31744,33289
2024,40218,38990,38430,39263,33566,30611,38035,39414,35144,35392

In [ ]:
df_southwest_median_houseprice = pd.read_excel('/content/South_West_Median_house_price_District.xlsx', index_col = 0)
df_southwest_median_houseprice_transposed = df_southwest_median_houseprice.transpose()
df_southwest_median_houseprice_transposed

Year,Bath and North East Somerset,"Bristol, City of",North Somerset,South Gloucestershire,Plymouth,Torbay,Swindon,East Devon,Exeter,Mid Devon
2002,139950,105000,107000,113500,75000,93500,107950,127950,104125,113000
2003,167500,128850,130000,135000,90000,119500,119000,160000,132000,135000
2004,186000,142000,150000,149000,115000,140250,129000,183000,153500,160000
2005,195000,150000,161725,158000,128850,155000,133000,194000,161000,169950
2006,204600,159000,169950,166000,135000,159000,140000,200000,168000,172500
2007,227000,174000,185000,184000,148500,170000,152250,220000,179000,187500
2008,225000,175000,189000,186000,145500,169950,153000,221000,184000,195000
2009,200000,160000,174950,169950,138000,154000,139972,205000,172000,175000
2010,229975,172500,188000,183800,145000,162000,153000,225000,178000,182500
2011,230000,172500,184975,177000,140000,159950,149972,222500,184000,187500
2012,232750,175000,183950,181000,140000,156000,146500,222125,182500,183625
2013,238500,176000,189000,184950,142000,160000,151000,217000,185000,190500
2014,245000,188000,200000,200000,151000,165000,160000,228000,189950,187500
2015,265000,209000,215000,215000,155000,170000,169000,242500,205000,199250
2016,287500,235000,224000,235000,162000,178500,187950,239500,212500,205000
2017,302750,255000,235000,250000,165000,184950,203000,264425,227000,210000
2018,315000,265000,249950,260000,170000,190000,212250,273000,240000,227725
2019,315000,270000,250000,261500,170000,196000,215000,275000,240750,228000
2020,320000,280000,264000,272000,179950,200000,217000,285000,250000,245000
2021,361500,312500,299950,300000,195000,230000,238000,320000,270000,270000
2022,372000,327500,295000,320000,205000,240000,250000,325000,287500,289975
2023,385000,345000,315000,330000,210000,251000,262000,343000,305000,295375
2024,385000,340000,310750,323500,215000,245000,260000,335000,293500,280000

In [ ]:
df_southwest_median_houseprice_transposed.to_csv('5a_southwest_median_houseprice_transposed.csv')
df_southwest_transposed.to_csv('5b_southwest_median_residence_transposed.csv')
# Save the south west dataset as a csv file